.game-filter {
  background: $white;
  min-width: 230px;

  @include respond-to(mobile) {
    min-width: 100vw;
  }

  @include respond-to(tablet) {
    min-width: 50vw;
  }

  &__heading {
    color: $grey;
    font-weight: 500;
    font-size: 20px;
    padding: 21px;
    border-bottom: 1px solid black;
  }
}
