.game-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  @include respond-to(mobile) {
    align-items: center;
    flex-direction: column-reverse;
  }

  @include respond-to(tablet) {
    align-items: center;
    flex-direction: column-reverse;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  &__loading,
  &__error {
    font-size: 14px;
    font-weight: 500;
    color: $white;
    padding: 21px;
  }
}
