.game-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  &__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__loading,
  &__error {
    font-size: 14px;
    font-weight: 500;
    color: $white;
    padding: 21px;
  }
}
